
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
}

.response-message {
  margin-top: 10px;
  font-size: 14px;
  color: green; /* Change to red for errors */
}


.contact {
    
    background-color: #f9f9f9;
    text-align: center;
  }

  .comtacthead{
    background-color: #7393B3;
    height: 100px;
    align-items: center;
    justify-content: center;
  }
  
  .comtacthead h2 {
    font-size: 20px;
    color: white;
    height: 100px;
    line-height: 100px;
  }

  .get{
    align-items: center;
    justify-content: center;
    height: 100px;
    align-items: center;
    justify-content: center;
    
  }

  .get h4{
    font-size: 20px;
    height: 100px;
    line-height: 100px;
  }

  .rowcontain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:  30px 0;
   

  }

  .bluediv{
    background-color: blue;
    width: 150px;
    height: 100px;
    border-radius: 10px;
  }
  .bluediv p{
    color: white;
    font-size: 11px;
  }

  .whitediv{
    width: 200px;
    height: 100px;
  }

  .whitediv p{
    font-size: 11px;
  }
  .callimg{
    width: 40px;
    height: auto;
  }
  
  .callimg1{
    width:40px;
    height: auto;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #ddd;
  }
  
  .contact input
   {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: whitesmoke;
  }
  .contact textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 100px;
    background-color: whitesmoke;
  }
  
  .contact button {
    padding: 10px;
    font-size: 1rem;
    background-color:goldenrod;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    margin-bottom: 10px;
  }
  
  .contact button:hover {
    background-color: blue;
  }



  @media (max-width: 768px) {
    .rowcontain{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin:  30px 0;
     width: 100%;
     gap:15px ;
  
    }
    .bluediv{
      background-color: blue;
      width: 20%;
      height: 100px;
      border-radius: 10px;
    }
    .bluediv p{
      color: white;
      font-size: 11px;
    }
  
    .whitediv{
      width: 20%;
      height: 100px;
    }
  
    .whitediv p{
      font-size: 11px;
    }

    .contact form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      max-width: 90%;
      margin: 0 auto;
      border: 1px solid #ddd;
    }

    .contact button {
      padding: 10px;
      font-size: 1rem;
      background-color:goldenrod;
      color: white;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      width: 30%;
      margin-bottom: 10px;
    }
  }


  @media (max-width: 480px) {
    .rowcontain{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin:  30px 0;
     width: 100%;
     gap: 10px;
  
    }
    .bluediv{
      background-color: blue;
      width: 20%;
      height: 70px;
      border-radius: 10px;
    }
    .bluediv p{
      color: white;
      font-size: 7px;
    }
  
    .whitediv{
      width: 20%;
      height: 70px;
    }
  
    .whitediv p{
      font-size: 8px;
    }

    .contact form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      max-width: 90%;
      margin: 0 auto;
      border: 1px solid #ddd;
    }

    .contact button {
      padding: 10px;
      font-size: 1rem;
      background-color:goldenrod;
      color: white;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      width: 40%;
      margin-bottom: 10px;
    }
  }